.text-img {
  color: white;
  background-color: black;
  text-align: center;
  position: relative;
  transition: 0.75s ease;
  &:hover {
    transform: translate(0, -480px);
    opacity: 0.7;
    height: 300vh;
  }
}

.gradiant_down {
  background-image: linear-gradient($color_extremo, $color_body);
}
.gradiant_up {
  background-image: linear-gradient($color_body, $color_extremo);
}

.btn-wsp {
  width: 10vh;
  height: 10vh;
  animation: ring 0.5s linear infinite alternate;
}
@keyframes ring {
  form {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}
