.lupa {
  overflow: hidden;
  transition: 0.75s ease;
  &:hover {
    z-index: 1;
    transform: scale(1.2, 1.2);
  }
}

.text-img {
  color: white;
  background-color: black;
  text-align: center;
  position: relative;
  transition: 0.75s ease;
  &:hover {
    transform: translate(0, -480px);
    opacity: 0.7;
    height: 300vh;
  }
}

.gradiant_down {
  background-image: linear-gradient($color_extremo, $color_body);
}
.gradiant_up {
  background-image: linear-gradient($color_body, $color_extremo);
}
